<div id="error_explanation">
  <h3>
    <%= variable.errors.count %>
    <% if variable.errors.count == 1 %>
     error prohibited this obj from being saved:
    <% else %>
     errors prohibited this obj from being saved:
    <% end %>
  </h3>
  <ul>
    <% variable.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>